<header>
  <nav>
    <div
      class="navbar navbar-expand-lg"
      id="#top"
      style="background-color: #2a75bb"
    >
      <div class="container">
        <img class="imgheader" src="../../assets/img/pokemon-7688.png" alt="" />

        <button
          class="navbar-toggler text-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
          style="color: #fff"
        >
          <span class="navbar-toggler-icon icon-bar text-light"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                href="https://pokeapi.co/"
                class="nav-link link-contacto text-light"
                id="navbar_link"
                style="
                  text-decoration: none;
                  font-weight: 500;
                  font-size: large;
                "
                target="_blank"
                >PokéAPI</a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://www.linkedin.com/in/ignacio-thomson/overlay/contact-info/"
                class="nav-link link-contacto text-light"
                id="navbar_link"
                style="
                  text-decoration: none;
                  font-weight: 500;
                  font-size: large;
                "
                target="_blank"
                >Contact me</a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://ignacio-thomson.github.io/"
                class="nav-link link-contacto text-light"
                id="navbar_link"
                style="
                  text-decoration: none;
                  font-weight: 500;
                  font-size: large;
                "
                target="_blank"
                >Check my Portfolio</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="p-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <img
            src="../../assets/img/68747470733a2f2f696b2e696d6167656b69742e696f2f6877796b73766a3469762f706f6b656465785f4e5f576757724a4b30732e706e67.webp"
            alt=""
            class="w-75 m-2"
          />
        </div>
        <div class="col-lg d-flex align-items-center">
          <div class="m-auto">
            <h3 class="mb-3 text-dark">
              Pokédex technical test, designed in the <b>Angular Framework</b> &
              <b>Angular Material</b>, by Dev. Ignacio Thomson. The main purpose
              was to establish a connection with the <b>PokéAPI</b> Service, and
              display the gathered information on different formats, be it
              Tables & Cards. I Hope you like it!
            </h3>
            <a
              href="https://pokeapi.co/about"
              target="_blank"
              class="text-light"
              style="text-decoration: none"
              ><button
                class="btn btn-success btn-md text-light m-1"
                type="button"
              >
                More about PokéAPI
              </button></a
            >
            <a
              href="https://pokeapi.co/docs/v2"
              target="_blank"
              class="text-light"
              style="text-decoration: none"
              ><button
                class="btn btn-warning btn-md text-light m-1"
                type="button"
              >
                API Documentation
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<hr class="hr m-0" />
