@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

header {
  text-align: center;
  background: #fff;
}

header h1 {
  text-transform: uppercase;
  color: #fff;
}

h1 {
  font-size: 80px;
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
}

.imgheader {
  width: 15%;
}

@media screen and (max-width: 1024px) {
  .imgheader {
    margin-left: 1rem;
    width: 25%;
  }
}
